@import "font.css";
@import "buttons.css";
@import "boxes.css";
@import "specialColors.css";
@import "media.css";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');

:root {
  --y0: white;
  --y1: white;
  --y2: #A8BEFF;
  --y4: black /*#4BC955 4B65C9*/;
  --b: #DEDEDE;
  --h1: #f9ff00;
  --h2: #54ffb1;
  --h3: #54edff;
  --h4: #ab78ff;
  --h5: #ff54f1;
}
body {
  background-color: var(--y4);
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}
::selection {
  background-color: var(--h0);
}
::-moz-selection {
  background: var(--h0);
}
@media all and (min-width: 1300px) {
  img.img-portfolio {
    width: 45% !important;
  }
}
img.img-portfolio {
  width:35%;
  margin:auto;
  margin-top:15px;
  /*z-index:10;*/
}
img.petite {
  width: 50% !important;
  height: 50% !important;
  overflow: hidden;
}
.media img {
	margin-left: 10px;
	height: 100%;
	width: auto;
}
.title {
	display: flex;
	justify-content: space-between;
	margin: auto;
	text-align: left;
	background-color: var(--y0);
	color: var(--y4);
	width: 100%;
	height: 35px;
	position: fixed;
	top: 0px;
  z-index: 10;
}
.container{
	display: flex/*block scroll fix*/;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: auto;
	box-sizing: border-box;
  width: 100%;
}
.home .container {
  justify-content: center;
}
.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	background-color: var(--y0);
	text-align: center;
  bottom: 0px;
  position: fixed;
}

@media all and (max-width: 959px) and (min-width: 600px) {
}
@media all and (max-width: 599px) and (min-width: 50px) {
  body {
    height: auto !important;
    overflow: auto !important;
  } /*chrome fix*/
  .container{
    overflow: auto !important;
    height: auto !important;
    position: relative !important; /* chrome fix*/
  }
  img.img-portfolio {
    width: 75% !important;
  }
}
