@import "font.css";
@import "buttons.css";
@import "boxes.css";
@import "specialColors.css";
@import "media.css";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');

@media all and (max-width: 600px) {
  .container{
    padding-left: 10px;
  }
  .title {
    flex-direction: row !important;
  	height: auto !important;
    width: 100% !important;
  	top: 0px !important;
  }
  .title-m {
    flex-direction: row !important;
    height: auto !important;
    width: 100% !important;
    bottom: 0px !important;
    top: auto !important;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 20;
  }
  .title-book {
    background-color: white;
  }
  .couleurs {
    flex-direction: row !important;
    justify-content: space-between !important;
    background-color: var(--y0);
    width: 100%;
  }
  body.projets .couleurs {
    background-color: white;
  }
  body.projets .point {
    margin-bottom: 5px !important;
    height: 15px !important;
    width: 15px !important;
  }
}
@media all and (max-width: 959px) and (min-width: 600px) {
}
@media all and (max-width: 599px) and (min-width: 50px) {
  body {
    height: auto !important;
    overflow: auto !important;
  } /*chrome fix*/
  .container, .container-cv{
    overflow: auto !important;
    height: auto !important;
    position: relative !important; /* chrome fix*/
    padding: 10px;
  }
  .projets .container{
    padding: 0px !important;
  }
  .contact-box .container {
    width: 100% !important;
  }
  .contact-box h1 {
    text-align: center;
  }
  .contact-list {
    flex-wrap: wrap !important;
    margin-top: 7px !important;
    justify-content: center;
  }
  .contact-box .activites {
      padding: 10px !important;
  }
}

:root {
  --y0: #599C43;
  --y1: black;
  --y2: #F5F5F5;
  --y4: white /*#4BC955 4B65C9*/;
  --b: #DEDEDE;
  --h1: #E4BB33;
  --h2: #A8502E;
  --h3: #D348A1;
  --h4: #6680FF;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--y0);
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

::selection {
  background-color: var(--h0);
}
::-moz-selection {
  background: var(--h0);
}

.container, .container-cv{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: auto;
	box-sizing: border-box;
  width: 100%;
}


/* CV */
body .projets {
  background-color: var(--y2);
}

/* index du portfolio */
.title {
	display: flex;
  flex-direction: column;
	justify-content: center;
  align-items: center;
	margin: auto;
	text-align: left;
	height: 100%;
  width: max-content;
	position: fixed;
	top: 0px;
  z-index: 10;
}

/* page contact */
.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.contact-box .container {
  width: max-content;
  align-items: center;
  margin: 20px;
}

/* portfolio */
.projets .container {
  padding-left:  250px;
  padding-right: 180px;
}
.vertical-images img {
	width: 100%;
}
