@media all and (min-width: 1300px) {
	.project-button-i {
		font-size: 17px !important;
	}
	.project-box {
		padding-right: 45px !important;
		padding-left: 45px !important;
	}
	.container-cv {
		width: 65% !important;
	}
	a.pictos {
		margin: 20px 20px !important;
	}
	#fond {
		padding: 0px 30px;
	}
}
@media all and (max-width: 959px) and (min-width: 600px) {

}
@media all and (max-width: 599px) and (min-width: 50px) {
	.project-box {
		width: 100% !important;
		flex-direction: column;
		margin-bottom: 5px !important;
		padding-bottom: 5px !important;
	}
	.home {
		justify-content: flex-start !important;
		height: auto !important;
	}
	.activites {
		flex-direction: column !important;
		margin-left: 0px !important;
		margin-right: 0px !important;
		width: 95% !important;
		padding: 15px !important;
		padding-top: 45px !important;
	}
	.activites:first-of-type {align-self: center !important; margin-left:0px !important;margin-top:45px !important;}
	.activites:nth-of-type(2) {align-self: center !important; margin-left:0px !important; margin-top:45px !important;}
	.activites:nth-of-type(3) {margin-top:45px !important;}
	.activites:nth-of-type(4) {align-self: center !important; margin-left:0px !important; margin-top:45px !important;}
	.activites:last-of-type {margin-top:45px !important; margin-bottom:85px !important;}
	.tag {
		flex-direction: row !important;
		flex-wrap: wrap;
		justify-content: flex-start !important;
	}
	.margin-30 {
		margin-top: 30px !important;
	}
	.project-box-b {
		width: 100% !important;
	}
	.project-box-a {
		width: 100% !important;
		padding-bottom: 5px;
	}
	.project-box-a h2 {
		font-weight: 700 ;
		font-size: 13px !important;
	}
}

/* Page cv */
.home {
	width:100%;
	padding: 70px;
	overflow: auto;
	justify-content: center !important;
}
.projets {
	overflow: auto;
}
.activites {
	width: 75%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 30px;
	padding-top: 60px;
	/*flex-wrap: wrap; chrome fix*/
	justify-content: center;
	box-sizing: border-box;
	background-color: var(--y1);
	position: relative;
}
.activites::after, .bande::after {
	content: ' ';
	position: absolute;
	display: inline-block;
	height: 9px;
	width: 100%;
	background-color: black;
	bottom: -13px;
	left: 0px;
}
/*position & deco blocs cv*/
.activites:first-of-type {align-self: flex-start; margin-left:50px;}
.activites:nth-of-type(2) {align-self: flex-end; margin-left:50px; margin-top:-5px;}
.activites:nth-of-type(3) {margin-top:31px;}
.activites:nth-of-type(4) {align-self: flex-end; margin-left:50px; margin-top:40px;}
.activites:last-of-type {margin-top:12px; margin-bottom:150px;}

.deco, .deco-port {
	position: absolute;
	height: 6px;
	width: 100%;
	background-color: black;
	bottom: -23px;
	left: 0px;
}
.deco::after, .deco-port::after {
	content: ' ';
	position: absolute;
	display: inline-block;
	height: 4px;
	width: 100%;
	background-color: black;
	bottom: -9px;
	left: 0px;
}
/**/
.project-box {
	display: flex;
  align-content: center;
	justify-content: center;
	box-sizing: border-box;
	margin: 7px 0px;
}
.project-box-a {
  display: flex;
	width: 30%;
	flex-direction: column;
}
.project-box-b {
	display: flex;
	width: 70%;
}
.tag {
	width: 100%;
	justify-content: space-around !important;
	padding: 5px !important;
	margin-bottom: 15px;
	background-color: var(--y0);
}

/* portfolio */
.project-space {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	width: inherit;
	position: relative;
	box-sizing: border-box;
}
.toc .point {
  border-color: black;
}

/*intercalaires*/
.bande {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-top: 3px solid black;
	color: white;
	margin-left: -250px;
	padding-left: 250px;
	margin-right: -180px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.bande:first-child {
	margin-top: 0px;
}
.bande:target {
	animation: highlight 1.5s ease;
}
.bande#ex1, .bande#ex1::after, .bande#ex1 .deco-port, .bande#ex1 .deco-port::after{background-color: var(--y0);}
.bande#ex2, .bande#ex2::after, .bande#ex2 .deco-port, .bande#ex2 .deco-port::after{background-color: var(--h1);}
.bande#ex3, .bande#ex3::after, .bande#ex3 .deco-port, .bande#ex3 .deco-port::after{background-color: var(--h2);}
.bande#ex4, .bande#ex4::after, .bande#ex4 .deco-port, .bande#ex4 .deco-port::after{background-color: var(--h3);}
.bande#ex5, .bande#ex5::after, .bande#ex5 .deco-port, .bande#ex5 .deco-port::after{background-color: var(--h4);}
#a {
	background-color: var(--y0);
}

/* selecteur de couleur du cv */
.couleurs {
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.point {
  height: 25px;
  width: 25px;
  margin: 5px 10px 20px 10px;
  background-color: #bbb;
  border-radius: 50%;
  border: 1px solid white;
  display: inline-block;
}
a:nth-child(1) .point{background-color: var(--y0);}
a:nth-child(2) .point{background-color: var(--h1);}
a:nth-child(3) .point{background-color: var(--h2);}
a:nth-child(4) .point{background-color: var(--h3);}
a:nth-child(5) .point{background-color: var(--h4);}
/**/


/* Page contact */
.contact-box .activites {
	align-items: center;
	width: max-content;
	padding: 30px;
}
.contact-box .activites:first-of-type {align-self: center; margin-left:-50px;}
.contact-box .activites:nth-of-type(2) {align-self: center; margin-left:335px;}

.contact-list {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-top: 35px;
}
.contact-box .nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: max-content;
  position: relative;
}
.contact-box h1 {
  text-align: left;
}
.contact-box .footer {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-box h4 {
  font-size: 2vw;
}
