@media all and (min-width: 1300px) {
	.project-button-i {
		font-size: 17px !important;
	}
	.project-box {
		padding-right: 45px !important;
		padding-left: 45px !important;
	}
}
@media all and (max-width: 959px) and (min-width: 600px) {

}
@media all and (max-width: 599px) and (min-width: 50px) {
	.intro {
		padding: 95px 25px 25px 25px !important;
		height: auto !important;
		width: 90vw !important;
	}
	.outro {
		padding: 15px !important;
		text-align: left !important;
	}
	.project-box {
		width: 100% !important;
		margin-bottom: 25px !important;
	}
	.dpP .project-box {
		height: 440px;
	}
	.home {
		justify-content: flex-start !important;
		height: auto !important;
	}
	.activites {
		flex-direction: column !important;
	}
}

.home {
	width:100%;
	height:100vh;
	overflow: hidden;
	justify-content: center;
}
.projets {
	/*height: 100%;*/
	overflow: auto;
}
.intro, .outro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: justify;
	padding: 80px 0px;
	width: 60%;
	height: auto;
	box-sizing: border-box;
}
.projets .intro {
	height: auto;
}
.projets .intro p {
	width: 45vw;
	font-size: 14px;
	margin-top: 30px;
}
.activites {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-sizing: border-box;
}
.highlight {
	display: flex;
  flex-direction: column;
	margin: 5px 5px 5px 5px;
	background-color: var(--y3);
}
.project-space {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	width: inherit;
	position: relative;
	padding-top: 35px;
}
.project-box {
	display: flex;
  flex-direction: column;
	width: 50%;
	height: 420px;
	padding: 7px 20px 37px 20px;
	border: 6px solid var(--y4);
	border-top: 0px;
	border-left: 0px;
  align-content: center;
	justify-content: center;
	background-color: var(--y4);
	box-sizing: border-box;
}
.project-box:hover {
	border-top: 0px !important;
	border-left: 0px !important;
}
.project-box-a {
  display: flex;
	flex-direction: column;
  flex-basis: 1;
	padding: 15px 15px 10px 15px;
	text-align: center;
}
.project-box-b {
	display: flex;
  flex-direction: row;
	flex-wrap: wrap;
  justify-content: left;
	justify-content: center;
	padding: 5px 5px 10px 5px;
}
.project-button-i {
	flex-basis: content;
	padding: 0px 20px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 100;
	font-size: 14px;
	letter-spacing:2px;
	color:var(--b);
	text-transform: uppercase;
}
