a {
  text-decoration: none;
}
.a:link,a:active,a:visited,a{
  color:unset;
}

.title a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 7px;
}
.title h3 {
  color: black;
}
.title a:hover h3 {
  color: var(--h0);
}

.activites a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.activites a:hover{
  color: var(--y4);
}

.projets a:link, .projets a:active, .projets a:visited, .projets a{
  color:var(--h0);
}
 .projets a:hover{
  color: var(--y3);
  font-weight: 500;
}

.project-button {
  flex-basis: content;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 100;
  font-size: 16px;
  letter-spacing:2px;
  text-transform: uppercase;
  margin: 0px 7px;
}
.project-button:hover {
  font-weight: 300;
}

.webP .project-box:hover .project-button a {
  background-color: var(--h1);
  color: black;
}
.webP .project-button a {
  padding: 0px 10px;
  color: var(--h1);
}
.webP .project-box:hover .project-button:hover a {
  background-color: black;
  color: var(--h1);
}

.daP .project-box:hover .project-button a {
  background-color: var(--h2);
  color: black;
}
.daP .project-button a {
  color: var(--h2);
  padding: 0px 10px;
}
.daP .project-box:hover .project-button:hover a {
  background-color: black;
  color: var(--h2);
}

.dpP .project-box:hover .project-button a {
  background-color: var(--h3);
  color: black;
}
.dpP .project-button a {
  color: var(--h3);
  padding: 0px 10px;
}
.dpP .project-box:hover .project-button:hover a {
  background-color: black;
  color: var(--h3);
}

.eventP .project-box:hover .project-button a {
  background-color: var(--h4);
  color: black;
}
.eventP .project-button a {
  color: var(--h4);
  padding: 0px 10px;
}
.eventP .project-box:hover .project-button:hover a {
  background-color: black;
  color: var(--h4);
}

.funP .project-box:hover .project-button a {
  background-color: var(--h5);
  color: black;
}
.funP .project-button a {
  color: var(--h5);
  padding: 0px 10px;
}
.funP .project-box:hover .project-button:hover a {
  background-color: black;
  color: var(--h5);
}
