@media all and (min-width: 1300px) {
	.project-button {
		font-size: 20px !important;
	}
}
@media all and (max-width: 599px) and (min-width: 50px) {
	h2.activite a{
		padding: 7px 0px !important;
	}
	h3.activite {
		width: 100% !important;
	}
	.title {
		box-shadow: 0px -16px 25px black;
	}
	.title-m {
		bottom: 0px;
		box-shadow: 0px 16px 25px black;
	}
	a.pictos, button.pictos {
		position: relative !important;
	}
	a.pictos img, button.pictos img{
		width: 15vw !important;
	}
	a.portfolio, a.cv, a.contact, a.download, button.pictos {
		margin: 1vw 3vw !important;
		left: auto !important;
		right: auto !important;
		top: auto !important;
		bottom: auto !important;
	}
	a.contact img:hover, a.download img:hover, a.cv img:hover, a.portfolio img:hover, button.pictos img:hover {
		transform: translateX(10px) translateY(0px) !important;
	}
	a.toc {
		flex-direction: column !important;
	}
	.point {
		width: 20px !important;
		height: 20px !important;
		margin: 0px 15px !important;
	}
	.project-button {
		height: max-content;
	}
}
button {
	background-color: unset;
	width: max-content;
  border: none;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px;
  cursor: pointer;
}
a {
  text-decoration: none;
	width: max-content;
}
a.pictos:link, a.pictos:active, a.pictos:visited, a.pictos{
  color:unset;
}
/*
.title a.pictos {
  display: flex;
	flex-direction: column;
  padding: 0px 20px;
	margin: 20px 0px;
}*/
a.toc {
	display: flex;
	flex-direction: row;
	align-items: center;
}
a.toc:hover .point {
	border: 1px solid white;
}
.title-m {

}
a.pictos, button.pictos {
	display: flex;
	position: fixed;
	z-index: 15;
	bottom: 1vw;
}
a.portfolio, a.cv, button.pictos {
	left: 1vw;
}
a.contact {
	left: 6vw;
}
a.download {
	left: 11vw;
}

a.portfolio img, a.contact img, button.contact img, a.cv img, a.download img, button.pictos img {width:4vw;}
/*
a.portfolio img, a.cv img {
 transition: transform 300ms ease-in-out;
}
a.portfolio img:hover{
 transform: translateX(-10px) translateY(10px);
}*/
a.contact img, a.portfolio img, a.cv img, a.download img, button.pictos img {
	transition: transform 300ms ease-in-out;
}
a.contact img:hover, a.download img:hover, a.cv img:hover, a.portfolio img:hover, button.pictos img:hover {
	transform: translateX(10px) translateY(-10px);
}

.contact-box a.portfolio, .contact-box a.cv {
	position: relative;
	top: 0px;
	right: 0px;
	padding: 20px;
	margin: 0px 5px;
}
.contact a.pictos, .contact a.cv, .contact a.portfolio {
	position: relative;
	right: auto;
}
.activites a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
	padding: 7px 0px;
	box-sizing: border-box;
}

.project-button {
  flex-basis: content;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 100;
  font-size: 16px;
  letter-spacing:2px;
  text-transform: uppercase;
  margin: 5px 7px;
	background-color: white;
}
.project-button a:hover {
	animation: color-change-b 6s infinite;
}
@keyframes color-change-b {
    0% { background-color: white; }
    16% { background-color: var(--y0); }
    32% { background-color: var(--h1); }
    48% { background-color: var(--h2); }
    62% { background-color: var(--h3); }
    78% { background-color: var(--h4); }
    100% { background-color: white; }
}
.project-button a {
  padding: 0px 10px;
	color: black;
}
.project-box:hover .project-button a {color: black;}
.project-box:hover .project-button:hover a {font-weight: bold;}

.contact .project-button {
  width: auto;
  margin: 7px 0px;
  background-color: white;
}
