@media all and (min-width: 1300px) {
	.project-button {
		font-size: 20px !important;
	}
}
@media all and (max-width: 599px) and (min-width: 50px) {
	h2.activite a{
		padding: 7px 0px !important;
	}
	h3.activite {
		width: 100% !important;
	}
}

a {
  text-decoration: none;
}
.a:link,a:active,a:visited,a{
  color:unset;
}

.title a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 7px;
}

.title a:hover h3 {
  font-weight: bold;
}

.activites a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
	padding: 7px 0px;
	box-sizing: border-box;
}

.project-button {
  flex-basis: content;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 100;
  font-size: 16px;
  letter-spacing:2px;
  text-transform: uppercase;
  margin: 5px 7px;
}
.project-button a {
  padding: 0px 10px;
	color: black;
}
.project-box:hover .project-button a {color: black;}
.project-box:hover .project-button:hover a {font-weight: bold;}

.contact .project-button {
  width: auto;
  margin: 7px 0px;
  background-color: white;
}
