@media all and (min-width: 1300px) {
  p{
    font-size:19px !important;
  }
  p.small{
    font-size:16px !important;
  }
  .intro h2 {
    margin: 50px 0px 0px 0px !important;
    width: 30% !important;
    text-align: left !important;
  }
}
@media all and (max-width: 959px) and (min-width: 600px) {
}
@media all and (max-width: 599px) and (min-width: 50px) {
  h1 {
    padding-bottom: 20px !important;
    letter-spacing: 2px !important;
    font-size: 10vw !important;
  }
  .contact h1 {
    font-size:6vw !important;
  }
  h2{
    font-size:14px !important;
  }
  h2.activite {
    width: 100% !important;
    padding: 20px !important;
    height: auto !important;
  }
  .projets .intro p {
    width: 90vw !important;
  }/*
  .projets h2 {
    font-size: 9vw !important;
  }*/
  h3.legend {
    font-size: 13px !important;
    top: 0px !important;
    left: 10px !important;
  }
  h3.special {
    left: 10px !important;
  }
  h4 {
    font-size: 14px !important;
  }
  #long {top: -10px !important}
  p {
    font-size: 13px !important;
  }
}

h1{
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: 'Roboto Slab', serif;
  letter-spacing:4px;
  font-size:4vw;
  line-height:100%;
  font-weight:300;
  text-align: center;
}
.home h1 {
  font-size: 8vw;
  line-height:145%;
  font-weight:500;
}
.contact h1 {
  font-size: 3vw;
  margin-bottom: 15px;
}
h2{
  line-height:130%;
  font-family: 'Titillium Web', sans-serif;
  font-size:16px;
  color: white;
  font-weight:100;
  letter-spacing:2px;
  margin: 40px 0px 0px 0px;
  padding: 0px;
}
.home h2 {
  margin: 0px;
}
/*
.intro h2 {
  text-align: center;
}*/



h3{
  font-size:20px;
  line-height:140%;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  text-decoration: uppercase;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  letter-spacing:2px;
}
h3.activite {
  width: 20%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}
h3.legend {
  position: absolute;
  left: 30px;
  top: -10px;
  text-align: left;
  opacity: 0.6;
}

h4{
  line-height:130%;
  font-family: 'Titillium Web', sans-serif;
  font-size:16px;
  color:white;
  font-weight:200;
  letter-spacing:2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.footer h4 {
  color: black;
}

p{
  line-height:130%;
  font-family: 'Titillium Web', sans-serif;
  font-size:15px;
  color: white;
  font-weight:400;
  letter-spacing:2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
p.small{
  font-weight:200;
  font-size:13px;
  font-style: italic;
}
p.dark{
  color: #000;
  font-weight:200;
  font-size:13px;
  font-style: italic;
}
