@media all and (min-width: 1300px) {
	.media {
		height: 600px !important;
	}
}
@media all and (max-width: 959px) and (min-width: 600px) {

}
@media all and (max-width: 599px) and (min-width: 50px) {
	.mCustomScrollbar {
		width: 90vw !important;
	}
	.media {
		height: 280px !important;
	}
}
#video {
margin-left: 35px;
}
.vertical-images {
	width: 100%;
	display: flex;
	flex-direction: column;
}
