
		@import url('https://fonts.googleapis.com/css?family=Exo:200,300,400,500,700,900');
		:root {
				--y0: white;
				--y1: white;
				--y2: #A8BEFF;
				--y3: #445EBA;
				--y4: #4B65C9;
				--b: #DEDEDE;
				--h0: #FBB03B;
			}
			/*:root {
				--y0: #FCEE21;
				--y1: #F4E620;
				--y2: #EFE120;
				--y3: #EADC20;
				--b: #404040;
			}*/
		body{
			/* page background */
			background-color: var(--y4);
			margin: auto;
			min-height: 100vh;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
		h1 img{
			max-width:100%;
			height:auto !important;
			vertical-align:bottom;
		}

		/*responsive layout*/
		@media all and (min-width: 1300px) {
			h1{
		    font-size: 30px !important;
		  }
			.intro {
				width: 40% !important;
			}
			.project-box {
				padding: 7px 430px 37px 430px;
			}
		}
		@media all and (max-width: 959px) and (min-width: 600px) {
			h1{
		    font-size: 30px !important;
		  }
			.intro {
				width: 75% !important;
			}
			.container{
				height: unset !important;
			}
			.project-box {
				padding: 7px 20px 37px 20px !important;
			}
		}
		@media all and (max-width: 599px) and (min-width: 50px) {
			h1{
		    font-size: 22px !important;
		  }
			.container{
				height: unset !important;
			}
			.intro {
				width: 85% !important;
			}
			.project-box {
				padding: 7px 20px 37px 20px !important;
			}
			.modal-content {
				width: 85vw !important;
				height: auto !important;
			}
			.slideshow-container img {
				max-height: 80vw !important;
			}
		}
		::selection {
			background-color: var(--h0);
		}
		::-moz-selection {
			background: var(--h0);
		}
		h1{
			line-height:120%;
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
			color: white;
			font-family: 'Roboto Slab', serif;
			font-weight:500;
			letter-spacing:4px;
		}
		h2{
			font-size:20px;
			line-height:140%;
			color: white;
			font-family: 'Droid Sans', sans-serif;
			font-weight: 200;
			text-decoration: uppercase;
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
			letter-spacing:2px;
		}
		h3{
			font-size:20px;
			line-height:140%;
			text-align: center;
			font-weight:100;
			color: white;
			font-family: 'Roboto Slab', serif;
			letter-spacing:1.8px;
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
			text-transform: uppercase;
		}
		h4{
			line-height:130%;
			font-family: 'Droid Sans', sans-serif;
			font-size:16px;
			color:white;
			font-weight:200;
		/*	-webkit-text-size-adjust:none;*/
			letter-spacing:2px;
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
		}
		p{
			line-height:130%;
			font-family: 'Droid Sans', sans-serif;
			font-size:16px;
			color:var(--b);
			font-weight:400;
			letter-spacing:2px;
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
		}
		h5{
			font-family: 'Roboto Slab', serif;
			font-size:15px;
			color:var(--b);
			background-color: var(--y3);
			margin: unset;
			padding:20px 10px 20px 10px;
			font-weight:500;
			text-transform: uppercase;
			letter-spacing: 2.5px;
		}
		p.small{
			font-weight:200;
			font-size:13px;
			font-style: italic;
		}
		p.dark{
			color: #000;
			font-weight:200;
			font-size:13px;
			font-style: italic;
		}
		/*liens*/
		a {
			text-decoration: none;
		}
		a:link,a:active,a:visited,a{
			color:var(--h0);
		}
		a:hover{
			color: var(--y3);
			font-weight: 500;
		}
		button:link,button:active,button:visited,button,.button span{
			background-color: unset;
			border: none;
		}
		.button{
			background-color: unset;
			border: none;
			height: 100%;
		}
		.project-button {
			flex-basis: content;
			padding: 0px 10px 0px 10px;
			font-family: 'Droid Sans', sans-serif;
			font-weight: 100;
			font-size: 16px;
			letter-spacing:2px;
			color:var(--h0);
			text-transform: uppercase;
		}
		.project-button:hover {
			background-color: var(--h0);
			color:var(--y3);
			font-weight: 300;
		}
		.button:hover{
			background-color: unset;
			border: none;
			background-color: var(--h0);
			color:#ffffff !important;
		}

/*global config*/
.logo {
	font-family: 'Contrail One', cursive;
	font-size: 45px;
	line-height: 47px;
	letter-spacing: 2px;
	color: white;
}
.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	margin: auto;
}
.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 45vw;
	text-align: justify;
}
.highlight {
	display: flex;
  flex-direction: column;
	margin: 5px 5px 5px 5px;
	background-color: var(--y3);
}
.title {
	display: flex;
	justify-content: space-between;
	margin: auto;
	text-align: left;
	background-color: var(--y0);
	color: var(--y4);
	width: 100%;
	height: 35px;
	position: fixed;
	top: 0px;
}
.space {
	margin: auto;
	height: 10px;
	width: 100%;
}
.bodyContent{
	display: flex;
	flex-direction: column;
	margin: auto;
}
.project-space {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	width: 100vw;
}
.project-box {
	display: flex;
  flex-direction: column;
	flex-grow: 1;
	padding: 7px 230px 37px 230px;
  align-content: center;
	justify-content: center;
	background-color: var(--y4);
}
.project-box:hover {
	background-color: var(--y3);
}
.project-box-a {
  display: flex;
	flex-direction: column;
  flex-basis: 1;
	padding: 15px 15px 10px 15px;
	text-align: center;
}
.project-box-b {
	display: flex;
  flex-direction: row;
	flex-wrap: wrap;
  justify-content: left;
	justify-content: center;
	padding: 5px 5px 10px 5px;
}
.project-button-i {
	flex-basis: content;
	padding: 0px 5px 0px 5px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 100;
	font-size: 14px;
	letter-spacing:2px;
	color:var(--b);
}
.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	background-color: var(--y0);
	bottom: 0px;
	text-align: center;
}

/*modal config*/
/* The Modal (background) */
.project-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 20;
	padding-top: 15px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100vh; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
	display: flex;
	flex-direction: column;
	background-color: white;
	margin: auto;
	padding: 20px;
	width: 80vw;
	height: 90vh;
}
/* The Close Button */
.close {
	color: #000;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
		color: var(--h0);
		text-decoration: none;
		cursor: pointer;
}

/*slideshow config*/
.mySlides {
	display:none;
	flex-direction: column;
}
.caption {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
/* Slideshow container */
.slideshow-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: auto;
}
.slideshow-container img {
	width: auto;
	height: 70vh;
}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	width: auto;
	color: #000;
	font-weight: bold;
	font-size: 22px;
}

/* Position the "next button" to the right */
.next {
	right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	color: var(--h0);
}

/* Caption text */
.text {
font-size: 15px;
padding: 8px 12px;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
font-size: 12px;
}

/* The dots/bullets/indicators */
.dot {
cursor:pointer;
height: 13px;
width: 13px;
margin: 20px 2px 0px 0px;
background-color: #000;
border-radius: 50%;
display: inline-block;
}

.active, .dot:hover {
background-color: var(--h0);
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px;}
}

/*page pédagogique*/
/*textarea {
	background-color: unset;
	border: none;
	width: 100%;
	height: 100%;
	resize: none;
	color: white;
	font-size: 17px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 200;
	letter-spacing: 1px;
}*/
.container_p{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 975px;
	min-width: 300px;
	margin: auto;
	padding: 10px 10px 10px 10px;
}

.container_p:hover{
	margin: auto;
}
/*avec .intro*/
.intro_code, .container_p:hover .intro{
	display: none;
}
.container_p:hover .intro_code {
  display: block;
}
.intro_code {
	margin: auto;
	background-color: var(--y1);
	padding: 15px 15px 15px 15px;
	max-width: 401px;
	height: 275px;
}

/*avec .title
.title_code, .container_p:hover .title{
	display: none
}
.container_p:hover .title_code {
  display: block
}
.title_code {
	margin: auto;
	background-color: var(--y1);
	padding: 15px 15px 15px 15px;
	max-width: 401px;
	height: 275px;
}*/

/*avec .bodyContent
.bodyContent_code, .container_p:hover .bodyContent{
	display: none
}
.container_p:hover .bodyContent_code {
  display: block
}
.bodyContent_code{
	padding: 15px 15px 15px 15px;
	margin: auto;
	margin-bottom: 60px;
	text-align: left;
	background-color: var(--y1);
}*/
