		@font-face {
 			font-family: 'Systematic J'; src: 'images/9SYSTEMA.TTF';
			}
			:root {
				--y0: #4B65C9;
				--y1: #4761BF;
				--y2: #445DB8;
				--y3: #425AB3;
				--b: #DEDEDE;
				--h0: #FBB03B;
			}
			/*:root {
				--y0: #FCEE21;
				--y1: #F4E620;
				--y2: #EFE120;
				--y3: #EADC20;
				--b: #404040;
			}*/
/*		.wrapper{
			width:550px;
			margin:0 auto 10px auto;
			text-align:center;
		}
*/		.button{
			display:inline-block;
			font-weight:500;
			font-size:14px;
			line-height:42px;
			font-family:'Systematic J', Arial, sans-serif;
			width:auto;
			white-space:nowrap;
			height:42px;
			margin:0px 5px 12px 0;
			padding:0 22px;
			text-decoration:none;
			text-align:center;
			cursor:pointer;
			border:0;
			border-radius:3px;
			vertical-align:top;
			text-transform: uppercase;
			font-weight: bold;
		}
		.button span{
			display:inline;
			font-family:'Helvetica', Arial, sans-serif;
			text-decoration:none;
			font-weight:500;
			font-style:normal;
			font-size:16px;
			line-height:42px;
			cursor:pointer;
			border:none;
		}
		body,#bodyTable{
			/* page background */
			background-color: var(--y0);
		}
		h1 img{
			max-width:100%;
			height:auto !important;
			vertical-align:bottom;
		}

/*/		#templateContainer{
			background-color:none;
		}
		#mergeRow-0 {
			font-size:12px;
			text-align:"center";
		}
/*-/		#subscribeFormWelcome {
			padding-bottom:30px;
		}*/
/**//*		#templateBody{
			/* text background *-/
			/*background-color:#ffffff;*-/
		}
		.floating-box {
		    display: inline-block;
		    width: 156px;
		    height: 100px;
		    margin: 10px;
	/*		border: 2px solid black;*-/
		}
		.after-box {
		    border: 3px solid red;
			}*-/
		img {
		    display: block;
		    margin: 0 auto;
		    width: 100%;
		    height: auto;
		}

/*nouvelle orga - début */

.container{
	display: flex;
	flex-direction: column;
	max-width: 975px;
	min-width: 300px;
	margin: auto;
	padding: 10px 10px 10px 10px;
}
.title {
	margin: auto;
	text-align: center;
	background-color: var(--y1);
	padding: 5px 5px 5px 5px;
}
.space {
	margin: auto;
	height: 10px;
	width: 100%;
	margin: 5px 5px 5px 5px;
}
.bodyContent{
	display: flex;
	flex-direction: column;
	padding: 10px 10px 10px 10px;
	margin: auto;
	margin-bottom: 60px;
	text-align: left;
	background-color: var(--y1);
}
.project-space {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	flex-basis: content;
	justify-content: center;
	align-content: flex-start;
	max-width: 770px;/*
	min-width: 220px;*/
	margin: 5px 5px 5px 5px;
	background-color: var(--y2);
	padding: 5px 5px 5px 5px;
}
.project-box {
	display: flex;
  flex-direction: column;
  min-width: 200px;
	max-width: 350px;
	padding: 10px 10px 10px 10px;
	margin: 5px 5px 5px 5px;
  align-content: center;
	justify-content: center;
	background-color: var(--y3);
}
.project-box-a {
  display: flex;
	flex-direction: column;
  flex-basis: 1;
}
.project-box-b {
	display: flex;
  flex-direction: row;
  justify-content: center;
	align-items: center;
}
.project-button {
	flex-basis: content;
	margin: 0px 5px 0px 5px;
	padding: 5px 5px 5px 5px;
	background-color: var(--y1)
}
.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	position: fixed;
	overflow: auto;
	width: 100%;
	background-color: var(--y0);
	bottom: 0px;
	z-index: 100;
}



.slideshow {
	background-color: white;
	max-height: 500px;
}
h1{
	font-size:83px;
	line-height:87%;
	text-align: center;
	margin: 0px 0px 0px 0px;
	color:var(--b);
	font-family: 'Roboto Slab', serif;
	font-weight:700;
	letter-spacing:4px;

}
h2{
	font-size:20px;
	line-height:140%;
	color:var(--b);
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	text-decoration: uppercase;
	margin: 0px 0px 0px 0px;
}
h3{
	font-size:17px;
	line-height:140%;
	text-align: center;
	font-weight:500;
	color:var(--b);
	font-family: 'Roboto Slab', serif;
	letter-spacing:1px;
	margin: 0px 0px 0px 0px;
}
h4{
	font-family:'Roboto Slab', serif;
	font-size:17px;
	color:var(--b);
	font-weight:500;
	text-align:justify;
	line-height:20%;
/*	-webkit-text-size-adjust:none;*/
	letter-spacing:1px;
	margin:28px 0px 0px 0px;
}
p{
	line-height:120%;
	font-family:'Roboto Slab', serif;
	font-size:16px;
	color:var(--b);
	font-weight:300;
	text-align:justify-left;
/*	-webkit-text-size-adjust:none;*/
	letter-spacing:1px;
}
a {
	font-family:'Roboto Slab', serif;
	font-weight: 500;
	color:var(--b);
}
a:link,a:active,a:visited,a{
	color:var(--b);
}
a:hover{
	color: var(--h0);
}
.button:link,.button:active,.button:visited,.button,.button span{
	background-color:#ffff00 !important;
	color:#26262626 !important;
}
.button:hover{
	background-color:#262626 !important;
	color:#ffffff !important;
}
img {
    display: block;
    margin: 0 auto;
    max-height: 500px;
    height: auto;
}
@media (max-width: 260px){
		body{
			width:100%;
			-webkit-font-smoothing:antialiased;
			min-width:200px !important;
		}
	}
	@media (max-width: 260px){
		.wrapper,.poweredWrapper{
			width:auto !important;
			max-width:600px !important;
			padding:0 10px;
		}
	}
	@media (max-width: 260px){
		.video-container {
		    position: relative;
		    padding-bottom: 56.25%;
		    padding-top: 30px; height: 0; overflow: hidden;
		}
		.video-container iframe,
		.video-container object,
		.video-container embed {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}
	}
